<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Word</title>
</head>

<body>
    <ul>
        {{ range . }}
        <li>{{.}}</li>
        {{ end }}
    </ul>
    <br>
    <ul>
        {{ if . }}
        {{.}}
        {{ end }}
    </ul>
    <ul>
        {{ range . }}
        {{ if .Name }}
        <li>{{.Name}}</li>
        {{ end }}
        {{ end }}
    </ul>
    <ul>
        {{ range . }}
        {{ if and .Name .Admin }}
        <li>Admin: {{.Name}}</li>
        {{ end }}
        {{ end }}
    </ul>
</body>

</html>