<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Word</title>
</head>

<body>
    <div>
        {{ if gt .One .Two }}
        <p>Score 1 > Score 2</p>
        {{ end }}
    </div>
    <div>
        {{ if lt .One .Two }}
        <p>Score 1 < Score 2</p>
                {{ end }}
    </div>
    <div>
        {{ if eq .One .Two }}
        <p>Score 1 == Score 2</p>
        {{ end }}
    </div>
</body>

</html>